%clearfix {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

// media queries

@mixin desktop {
	@media screen and (min-width: 768px) {
		@content;
	}
}
@mixin tablets {
	@media screen and (min-width: 321px) {
		@content;
	}
}
@mixin desktop-w {
	@media screen and (min-width: 925px) {
		@content;
	}
}