header.header
	.header-top
		.container 
			.menu-link-wrap
				a.menu-link(href="#")
					span.menu-link__line
			.phone-top
				a(href="tel:+74957872477") 8 (495) 787-2477
			.cart-top
				a(href="#")
					.icon-cart
						.cart-amount 3
