.header-nav-wrap(class=page)
	.header-nav-menu
		a(href="#" data-section="back").nav-back-link.js-nav-link Назад
		a(href="mailto:info@de-light.ru")
			.icon-mail
		a(href="#")
			.icon-svg-lk
	ul.header-nav.active.header-nav_main
		li.header-nav-item.js-nav-item
			a(href="#" data-section="light").header-nav-link.header-nav-link_main.parent.js-nav-link Светильники
			nav.header-nav.header-nav_desktop.header-nav_light
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_all Посмотреть все светильники
						a(href="#").header-nav-link.header-nav-link_highligted Хрустальные люстры
						a(href="#").header-nav-link.header-nav-link_highligted Дизайнерский свет
						a(href="#").header-nav-link.header-nav-link_highligted Современные люстры
					a(href="#" style="background-image:url(assets/img/userfiles/product-3.jpg);").header-nav-banner left banner
					a(href="#").header-nav-link.header-nav-link_highligted Светильники Loft
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime На потолок
						a(href="#").header-nav-link.header-nav-link_second Люстра
						a(href="#").header-nav-link.header-nav-link_second Подвесной светильник
						a(href="#").header-nav-link.header-nav-link_second Потолочный светильник
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime На стену
						a(href="#").header-nav-link.header-nav-link_second Бра и настенный светильник
						a(href="#").header-nav-link.header-nav-link_second Подсветка для картин
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime На стол
						a(href="#").header-nav-link.header-nav-link_second Настольная лампа
						a(href="#").header-nav-link.header-nav-link_second Лампа для рабочего стола
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime На пол
						a(href="#").header-nav-link.header-nav-link_second Торшер
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Технический свет
						a(href="#").header-nav-link.header-nav-link_second Встраиваемый свет
						a(href="#").header-nav-link.header-nav-link_second Подсветка
						a(href="#").header-nav-link.header-nav-link_second Спот
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime На улицу
						a(href="#").header-nav-link.header-nav-link_second Настенный фонарь
						a(href="#").header-nav-link.header-nav-link_second Подвесной фонарь
						a(href="#").header-nav-link.header-nav-link_second Уличный светильник
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Детали
						a(href="#").header-nav-link.header-nav-link_second Абажур
						a(href="#").header-nav-link.header-nav-link_second Запчасть
						a(href="#").header-nav-link.header-nav-link_second Комплектующие
						a(href="#").header-nav-link.header-nav-link_second Плафон
						a(href="#").header-nav-link.header-nav-link_second Ретро проводка
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Лампочки
				.header-nav-bottom-banners
					a(href="#" style="background-image:url(assets/img/userfiles/1.jpg);").header-nav-banner_wide
					a(href="#" style="background-image:url(assets/img/userfiles/slide-1.jpg);").header-nav-banner_wide
		li.header-nav-item.js-nav-item
			a(href="#" data-section="furniture").header-nav-link.header-nav-link_main.parent.js-nav-link Мебель
			nav.header-nav.header-nav_desktop.header-nav_furniture
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_all Посмотреть всю мебель
						a(href="#").header-nav-link.header-nav-link_highligted Мебель Eichholtz
						a(href="#").header-nav-link.header-nav-link_highligted Мебель Garda Decor
					a(href="#" style="background-image:url(assets/img/userfiles/product-2.jpg);").header-nav-banner
					a(href="#").header-nav-link.header-nav-link_highligted Мягкая мебель
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Кровать
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Мягкая мебель
						a(href="#").header-nav-link.header-nav-link_second Банкетка
						a(href="#").header-nav-link.header-nav-link_second Диван
						a(href="#").header-nav-link.header-nav-link_second Кресло
						a(href="#").header-nav-link.header-nav-link_second Кушетка
						a(href="#").header-nav-link.header-nav-link_second Пуф
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Столы и консоли
						a(href="#").header-nav-link.header-nav-link_second Журнальный столик
						a(href="#").header-nav-link.header-nav-link_second Колонна
						a(href="#").header-nav-link.header-nav-link_second Консоль
						a(href="#").header-nav-link.header-nav-link_second Обеденный стол
						a(href="#").header-nav-link.header-nav-link_second Письменный стол
						a(href="#").header-nav-link.header-nav-link_second Барная стойка
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Стулья
						a(href="#").header-nav-link.header-nav-link_second Скамья
						a(href="#").header-nav-link.header-nav-link_second Стул
						a(href="#").header-nav-link.header-nav-link_second Табурет
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Мебель для хранения
						a(href="#").header-nav-link.header-nav-link_second Барный шкаф, буфет
						a(href="#").header-nav-link.header-nav-link_second Витрина
						a(href="#").header-nav-link.header-nav-link_second Комод
						a(href="#").header-nav-link.header-nav-link_second Стеллаж
						a(href="#").header-nav-link.header-nav-link_second Сундук
						a(href="#").header-nav-link.header-nav-link_second Тумба
						a(href="#").header-nav-link.header-nav-link_second Шкаф
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Ширмы
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Детская мебель
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Уличная мебель
				.header-nav-bottom-banners
					a(href="#" style="background-image:url(assets/img/userfiles/slide-1.jpg);").header-nav-banner_wide
					a(href="#" style="background-image:url(assets/img/userfiles/1.jpg);").header-nav-banner_wide
		li.header-nav-item.js-nav-item
			a(href="#" data-section="decor").header-nav-link.header-nav-link_main.parent.js-nav-link Декор
			nav.header-nav.header-nav_desktop.header-nav_decor
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_all Посмотреть весь декор
						a(href="#").header-nav-link.header-nav-link_highligted Зеркала
						a(href="#").header-nav-link.header-nav-link_highligted Ковры
					a(href="#" style="background-image:url(assets/img/userfiles/product-1.jpg);").header-nav-banner
					a(href="#").header-nav-link.header-nav-link_highligted Новый год
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Ваза
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Зеркало
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Ковер
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Напольный декор
						a(href="#").header-nav-link.header-nav-link_second Колонна
						a(href="#").header-nav-link.header-nav-link_second Лестница, телескоп
						a(href="#").header-nav-link.header-nav-link_second Фонтан
						a(href="#").header-nav-link.header-nav-link_second Мольберт
						a(href="#").header-nav-link.header-nav-link_second Для камина
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Настенный декор
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Подарки
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Посуда, сервировка
						a(href="#").header-nav-link.header-nav-link_second Блюдо, ваза
						a(href="#").header-nav-link.header-nav-link_second Бокал, стакан
						a(href="#").header-nav-link.header-nav-link_second Поднос
						a(href="#").header-nav-link.header-nav-link_second Сервизы и наборы
						a(href="#").header-nav-link.header-nav-link_second Сервировка
						a(href="#").header-nav-link.header-nav-link_second Тарелка
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Рамка для фото
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Подсвечник
						a(href="#").header-nav-link.header-nav-link_second Канделябр
						a(href="#").header-nav-link.header-nav-link_second Подсвечник
						a(href="#").header-nav-link.header-nav-link_second Свеча
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Статуэтки и фигурки
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Текстиль
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Хранение и порядок
						a(href="#").header-nav-link.header-nav-link_second Вешалка, подставка
						a(href="#").header-nav-link.header-nav-link_second Корзина, ведро
						a(href="#").header-nav-link.header-nav-link_second Подставка для зонтов
						a(href="#").header-nav-link.header-nav-link_second Сумки, чемоданы
						a(href="#").header-nav-link.header-nav-link_second Шкатулки и коробочки
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Цветы
						a(href="#").header-nav-link.header-nav-link_second Искусственные цветы
						a(href="#").header-nav-link.header-nav-link_second Кашпо и декор
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Часы
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Для вина и сигар
						a(href="#").header-nav-link.header-nav-link_second Ведро для льда
						a(href="#").header-nav-link.header-nav-link_second Пепельница
						a(href="#").header-nav-link.header-nav-link_second Подставка для бутылок
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Для книг и бумаг
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Разное
		li.header-nav-item.js-nav-item
			a(href="#" data-section="brands").header-nav-link.header-nav-link_main.parent.js-nav-link Бренды
			nav.header-nav.header-nav_desktop.header-nav_brands
				.header-nav-column
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_all Список всех брендов
						a(href="#").header-nav-link.header-nav-link_highligted Eichholtz
						a(href="#").header-nav-link.header-nav-link_highligted DeLight Collection
						a(href="#").header-nav-link.header-nav-link_highligted Seletti
						a(href="#").header-nav-link.header-nav-link_highligted Schuller
						a(href="#").header-nav-link.header-nav-link_highligted Illuminati
						a(href="#").header-nav-link.header-nav-link_highligted Fabbian
						a(href="#").header-nav-link.header-nav-link_highligted MM Lampadari
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Artemide
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Schonbek
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Serip
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Lasvit
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Karman
						a(href="#").header-nav-link.header-nav-link_highligted.header-nav-link_desktop Garda Decor
				.header-nav-column.header-nav-column_desktop
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime A
						a(href="#").header-nav-link.header-nav-link_second Abhika
						a(href="#").header-nav-link.header-nav-link_second ACF
						a(href="#").header-nav-link.header-nav-link_second Agma Lux
						a(href="#").header-nav-link.header-nav-link_second Alba Lamp
						a(href="#").header-nav-link.header-nav-link_second Album
						a(href="#").header-nav-link.header-nav-link_second Aldo Bernardi
						a(href="#").header-nav-link.header-nav-link_second Almerich
						a(href="#").header-nav-link.header-nav-link_second Antonio Ciulli
						a(href="#").header-nav-link.header-nav-link_second Aqua Light
						a(href="#").header-nav-link.header-nav-link_second Archeo Venice Design
						a(href="#").header-nav-link.header-nav-link_second Arizzi
						a(href="#").header-nav-link.header-nav-link_second Arte Veneziana
						a(href="#").header-nav-link.header-nav-link_second Artemide
						a(href="#").header-nav-link.header-nav-link_second Artificia
						a(href="#").header-nav-link.header-nav-link_second Arturo Alvarez
						a(href="#").header-nav-link.header-nav-link_second Asia Import
						a(href="#").header-nav-link.header-nav-link_second Axo Light
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime B
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime C
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime D
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-column.header-nav-column_desktop
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime E
						a(href="#").header-nav-link.header-nav-link_second Abhika
						a(href="#").header-nav-link.header-nav-link_second ACF
						a(href="#").header-nav-link.header-nav-link_second Agma Lux
						a(href="#").header-nav-link.header-nav-link_second Alba Lamp
						a(href="#").header-nav-link.header-nav-link_second Album
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime F
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime G
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime H
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-column.header-nav-column_desktop
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime J
						a(href="#").header-nav-link.header-nav-link_second Abhika
						a(href="#").header-nav-link.header-nav-link_second ACF
						
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime K
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime L
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime M
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
				.header-nav-column.header-nav-column_desktop
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime N
						a(href="#").header-nav-link.header-nav-link_second Abhika
						a(href="#").header-nav-link.header-nav-link_second ACF
						a(href="#").header-nav-link.header-nav-link_second Agma Lux
						a(href="#").header-nav-link.header-nav-link_second Alba Lamp
						
						a(href="#").header-nav-link.header-nav-link_second Artemide
						a(href="#").header-nav-link.header-nav-link_second Artificia
						a(href="#").header-nav-link.header-nav-link_second Arturo Alvarez
						a(href="#").header-nav-link.header-nav-link_second Asia Import
						a(href="#").header-nav-link.header-nav-link_second Axo Light
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime O
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime P
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
					.header-nav-section
						a(href="#").header-nav-link.header-nav-link_prime Q
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
						a(href="#").header-nav-link.header-nav-link_second BAGA
						a(href="#").header-nav-link.header-nav-link_second B.lux Vanlux
						a(href="#").header-nav-link.header-nav-link_second Badari
		li.header-nav-item
			a(href="#").header-nav-link.header-nav-link_main Акции
		li.header-nav-item
			a(href="#").header-nav-link.header-nav-link_main Ликвидация
		li.header-nav-item
			a(href="#").header-nav-link.header-nav-link_main Проектный отдел
		li.header-nav-item
			a(href="#").header-nav-link.header-nav-link_main Салоны delight
		li.header-nav-item
			nav.header-nav-minor
				each val in ['Оплата / Доставка', 'Журнал', 'Сотрудничество', 'О компании']
					a(href="#").header-nav-minor-link= val