.text-input {
	outline: none;
	width: 100%;
	border: 2px solid #000;
	height: 35px;
	padding-left: 15px;
	font-size: 12px;
	&::-webkit-input-placeholder {
		color: #000;
		text-transform: uppercase;
	}
	&::-moz-placeholder {
		color: #000;
		text-transform: uppercase;
	}
	&:-moz-placeholder {
		color: #000;
		text-transform: uppercase;
	}
	&:-ms-input-placeholder {
		color: #000;
		text-transform: uppercase;
	}
}