.icon-svg-lk {
	background-image: url(../img/lk.svg);
	background-repeat: no-repeat;
	width: 18px;
	height: 16px;
}
.icon-svg-search2 {
	background-image: url(../img/search2.svg);
	background-repeat: no-repeat;
	width: 17px;
	height: 17px;
}
.icon-svg-cart {
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	width: 17px;
	height: 20px;
	display: inline-block;
}
.icon-svg-mail {
	background-image: url(../img/mail.svg);
	background-repeat: no-repeat;
	width: 17px;
	height: 20px;
}
.icon-svg-fb {
	background-image: url(../img/fb.svg);
	background-repeat: no-repeat;
	width: 32px;
	height: 33px;
}
.icon-svg-inst {
	background-image: url(../img/inst.svg);
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.icon-svg-houzz {
	background-image: url(../img/houzz.svg);
	background-repeat: no-repeat;
	width: 32px;
	height: 33px;
}
.icon-svg-vk {
	background-image: url(../img/vk.svg);
	background-repeat: no-repeat;
	width: 32px;
	height: 33px;
}
.icon-svg-fb-white {
	background-image: url(../img/fb-white.svg);
	background-repeat: no-repeat;
	width: 32px;
	height: 33px;
}
.icon-svg-star {
	background-image: url(../img/star.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 73px;
}
.icon-svg-star-red {
	background-image: url(../img/star-red.svg);
	background-repeat: no-repeat;
	width: 75px;
	height: 73px;
}
.icon-svg-lamp {
	background-image: url(../img/lamp.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 20px;
	@include desktop {
		width: 18px;
		height: 26px;
	}
}
.icon-svg-geo {
	background-image: url(../img/geo.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 20px;
	@include desktop {
		width: 18px;
		height: 26px;
	}
}
.icon-svg-rouble {
	background-image: url(../img/rouble.svg);
	background-repeat: no-repeat;
	width: 12px;
	height: 20px;
	@include desktop {
		width: 18px;
		height: 26px;
	}
}
.icon-svg-shipment {
	background-image: url(../img/shipment.svg);
	background-repeat: no-repeat;
	width: 26px;
	height: 20px;
	@include desktop {
		width: 34px;
		height: 20px;
	}
}