.header {
	background-color: #000;
	color: #fff;
	font-size: 16px;
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 1000;
	@include desktop {
		position: relative;
		height: 40px;
	}
	.container {
		position: relative;
	}
}
.menu-link-wrap {
	float: left;
	width: 42px;
	height: 50px;
	padding-left: 2px;
	padding-top: 18px;
	border-right: 1px solid rgba(255,255,255,0.5);
	@include desktop {
		display: none;
	}
}
.menu-link {
	float: left;
	width: 23px;
	height: 16px;
	position: relative;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: #fff;
		transform-origin: center center;
		transition: all .3s;
		top: 0;
	}
	&:after {
		content: "";
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: #fff;
		transform-origin: center center;
		transition: all .3s;
		bottom: 0;
	}
	&.active {
		.menu-link__line {
			opacity: 0;
		}
		&:after {
			transform: translateY(50%) rotate(45deg);
			bottom: 50%;
		}
		&:before {
			transform: translateY(-50%) rotate(-45deg);
			top: 50%;
		}
	}
}
.menu-link__line {
	content: "";
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	transform-origin: center center;
	transition: all .3s;
	top: 50%;
	transform: translateY(-50%);
	
}
.phone-top {
	float: left;
	margin-left: 18px;
	line-height: 50px;
	@include desktop {
		line-height: 40px;
	}
}
.mail-top {
	display: none;
	@include desktop {
		float: left;
		display: block;
		line-height: 40px;
	}
}
.cart-top {
	float: right;
	padding-top: 14px;
	margin-right: 5px;
	.icon-cart {
		display: inline-block;
	}
}
.cart-amount {
	font-size: 9px;
	text-align: center;
	padding-top: 7px;
}
.cart-value {
	display: none;
	font-size: 14px;
	@include desktop {
		display: inline-block;
	}
}
.user-top {
	display: none;
	@include desktop {
		display: block;
		float: right;
		padding-top: 10px;
		div {
			display: inline-block;
		}
		.user-top__name {
			display: none;
		}
		&.authorized {
			.user-top__name {
				display: inline-block;
			}
		}
	}
}
.search-top {
	display: none;
	@include desktop {
		display: block;
		float: right;
	}
}
.authorization {
	position: absolute;
	top: 40px;
	right: 0;
	background-color: $main-color;
}