extends ../_template

block variables
	- var title = 'Fabrica'
	- var page = 'not-index'

block logo
	.content-head.container
		.content-head__left
			span Интернет-магазин дизайнерских светильников,
			a(href="#").content-head__logo
				img(src="assets/img/tmp/logo-small.png")
			span мебели и предметов интерьера
		.content-head__right
			ul.content-head__nav
				li.content-head__item
					a(href="#") Оплата
				li.content-head__item
					a(href="#") Доставка
				li.content-head__item
					a(href="#") Гарантии

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link
						span DeLight
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link
						span Бренды
				li.breadcrumbs__item
					span Eichholtz

	.fabric
		.container
			h1.fabric__title Eichholtz
			.fabric-features-wrap
				.fabric-features__left
					.fabric__logo-wrap
						img(src="assets/img/userfiles/brand-5.png").fabric__logo
					.fabric__cv Нидерланды,<br> с 1966 г.
				.fabric-features__right
					.fabric-features
						.fabric-feature__item
							.fabric-feature__icon.f-icon-geo
							.fabric-feature__text Монобрендовый бутик в ТВЦ Экспострой
						.fabric-feature__item
							.fabric-feature__icon.f-icon-mark
							.fabric-feature__text
								span.underlined Официальный дилер 
								|Eichholtz
						.fabric-feature__item
							.fabric-feature__icon.f-icon-pdf
							.fabric-feature__text
								span.underlined Электронные каталоги 
								|Eichholtz
		.fabric-gallery
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				a(href="#").fabric-gallery__tile Мебель Eichholtz
			.fabric-gallery__item
				.fabric-gallery__item-inner(style="background-image:url(assets/img/userfiles/brand-1.jpg);")
					a(href="#").fabric-gallery__tile Светильники Eichholtz
				.fabric-gallery__item-inner(style="background-image:url(assets/img/userfiles/brand-1.jpg);")
					a(href="#").fabric-gallery__tile Светильники Eichholtz
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
				a(href="#").fabric-gallery__tile Светильники Eichholtz
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				a(href="#").fabric-gallery__tile Мебель Eichholtz
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
				a(href="#").fabric-gallery__tile Мебель Eichholtz
		.container
			.fabric__desc Акция до 30 ноября: -20% на все светильники Schobbek в наличии и под заказ. Хрустальные люстры и бра Schonbek вы можете купить или посмотреть из наличия в Москве в наших салонах, так же мы осуществляем доставку по всей России. В 1870 году Адольф Шонбек, которому тогда было 24 года, оставил стекольный завод своей семьи в Богемии (современная Чехия), чтобы начать собственный бизнес. Он хотел заставить хрусталь показать себя в полной красе, и сосредоточил свои усилия на многообещающем тандеме: хрусталь и свет. Сегодня все светильники разрабатываются и производятся в Соединенных Штатах. За свою 140-летнюю историю фабрика Schonbek стала ведущим производителем элитных хрустальных светильников, высокое качество и скрупулезная ручная работа делают светильник шедевром, порой освещающим путь не одному поколению. Хрустальные люстры Schonbek можно увидеть по всему миру, начиная от Белого дома и заканчивая Букингемским дворцом. В 2007 году Schonbek стал членом компании Swarovski.
				.fabric__btn-more.js-more-btn
					span.more-text читать дальше
					span.plus-minus

	.fabric.fabric_var2
		.container
			h1.fabric__title Eichholtz
			.fabric-features-wrap
				.fabric-features__left
					.fabric__logo-wrap
						img(src="assets/img/userfiles/brand-5.png").fabric__logo
					.fabric__cv Нидерланды,<br> с 1966 г.
				.fabric-features__right
					.fabric-features
						.fabric-feature__item
							.fabric-feature__icon.f-icon-mark
							.fabric-feature__text
								span.underlined Официальный дилер 
								|Eichholtz
						.fabric-feature__item
							.fabric-feature__icon.f-icon-pdf
							.fabric-feature__text
								span.underlined Электронные каталоги 
								|Eichholtz
			.fabric-carousel
				.fabric-carousel__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				.fabric-carousel__item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
				.fabric-carousel__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				.fabric-carousel__item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
			.fabric__desc Акция до 30 ноября: -20% на все светильники Schobbek в наличии и под заказ. Хрустальные люстры и бра Schonbek вы можете купить или посмотреть из наличия в Москве в наших салонах, так же мы осуществляем доставку по всей России. В 1870 году Адольф Шонбек, которому тогда было 24 года, оставил стекольный завод своей семьи в Богемии (современная Чехия), чтобы начать собственный бизнес. Он хотел заставить хрусталь показать себя в полной красе, и сосредоточил свои усилия на многообещающем тандеме: хрусталь и свет. Сегодня все светильники разрабатываются и производятся в Соединенных Штатах. За свою 140-летнюю историю фабрика Schonbek стала ведущим производителем элитных хрустальных светильников, высокое качество и скрупулезная ручная работа делают светильник шедевром, порой освещающим путь не одному поколению. Хрустальные люстры Schonbek можно увидеть по всему миру, начиная от Белого дома и заканчивая Букингемским дворцом. В 2007 году Schonbek стал членом компании Swarovski.
				.fabric__btn-more.js-more-btn
					span.more-text читать дальше
					span.plus-minus

	.container
		.sort-panel
			.sort-panel-inner
				.sort-panel__field
					select.sort-panel__select#sort-panel__select_store
						option
						option(value="all") все
						option(value="in-store") в наличии
						option(value="delivery-lt") доставка < 45 дней

				.sort-panel__field
					select.sort-panel__select.sort-panel__select_sort
						option
						option(value="all") по артикулу
						option(value="usd-price") по цене $
						option(value="rub-price") по цене руб
						option(value="popularity") по популярности	
						option(value="recomms") по рекомендациям
						option(value="date") по дате добавления

		.pagination
			a(href="#").pagination__link.pagination__prev <
			a(href="#").pagination__link.pagination__first 1
			a(href="#").pagination__link.pagination__dots ...
			a(href="#").pagination__link 144
			a(href="#").pagination__link.pagination__current 145
			a(href="#").pagination__link 146
			a(href="#").pagination__link.pagination__dots ...
			a(href="#").pagination__link.pagination__last 284
			a(href="#").pagination__link.pagination__next >

	.filter-panel
		.fp-title-wrap.js-mob-filter
			.filter-panel__title Фильтры
				.plus-minus
			.filter-panel__reset.js-main-filter-reset Сбросить
		.container.filter-wrap
			form.filter-panel__form
				.filter-panel__field
					.filter__title.js-filter-spoil Светильники
						.filter-field__reset.js-filter-reset
							span
					.filter-inner
						ul.filter__list
							li.filter__item.filter__item_parent.expanded
								.parent-self
									input(type="checkbox" id="filter-on-ceil").filter-item__chekbox.js-filter-checkbox
									label(for="filter-on-ceil").filter-item__label На потолок
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-lustre").filter-item__chekbox.js-filter-checkbox
										label(for="filter-lustre").filter-item__label Люстра
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-hang-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-hang-lamp").filter-item__label Подвесной светильник
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-ceil-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-ceil-lamp").filter-item__label Потолочный светильник
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-on-wall").filter-item__chekbox.js-filter-checkbox
									label(for="filter-on-wall").filter-item__label На стену
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-wall-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-wall-lamp").filter-item__label Настенный светильник
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-pict-light").filter-item__chekbox.js-filter-checkbox
										label(for="filter-pict-light").filter-item__label Подсветка для картин
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-on-desk").filter-item__chekbox.js-filter-checkbox
									label(for="filter-on-desk").filter-item__label На стол
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-table-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-table-lamp").filter-item__label Настольная лампа
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-desk-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-desk-lamp").filter-item__label Лампа для рабочего стола
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-on-floor").filter-item__chekbox.js-filter-checkbox
									label(for="filter-on-floor").filter-item__label На пол
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-floor-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-floor-lamp").filter-item__label Торшер
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-tech-light").filter-item__chekbox.js-filter-checkbox
									label(for="filter-tech-light").filter-item__label Технический свет
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-illum").filter-item__chekbox.js-filter-checkbox
										label(for="filter-illum").filter-item__label Подсветка
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-build-lamp").filter-item__chekbox.js-filter-checkbox
										label(for="filter-build-lamp").filter-item__label Встраиваемый свет
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-spot").filter-item__chekbox.js-filter-checkbox
										label(for="filter-spot").filter-item__label Спот
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-outside").filter-item__chekbox.js-filter-checkbox
									label(for="filter-outside").filter-item__label На улицу
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-wall-torch").filter-item__chekbox.js-filter-checkbox
										label(for="filter-wall-torch").filter-item__label Настенный фонарь
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-hang-torch").filter-item__chekbox.js-filter-checkbox
										label(for="filter-hang-torch").filter-item__label Подвесной фонарь
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-street-light").filter-item__chekbox.js-filter-checkbox
										label(for="filter-street-light").filter-item__label Уличный светильник
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-details").filter-item__chekbox.js-filter-checkbox
									label(for="filter-details").filter-item__label Детали
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-lamp-shade").filter-item__chekbox.js-filter-checkbox
										label(for="filter-lamp-shade").filter-item__label Абажур
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-components").filter-item__chekbox.js-filter-checkbox
										label(for="filter-components").filter-item__label Комплектующие
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-plafon").filter-item__chekbox.js-filter-checkbox
										label(for="filter-plafon").filter-item__label Плафон
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-retro-wire").filter-item__chekbox.js-filter-checkbox
										label(for="filter-retro-wire").filter-item__label Ретро проводка
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-constructor").filter-item__chekbox.js-filter-checkbox
										label(for="filter-constructor").filter-item__label Конструктор
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-lamps").filter-item__chekbox.js-filter-checkbox
								label(for="filter-lamps").filter-item__label Лампочки

				.filter-panel__field
					.filter__title.js-filter-spoil Мебель
						.filter-field__reset.js-filter-reset
							span
					.filter-inner
						ul.filter__list
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-bed").filter-item__chekbox.js-filter-checkbox
								label(for="filter-bed").filter-item__label Кровать
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-soft-furn").filter-item__chekbox.js-filter-checkbox
									label(for="filter-soft-furn").filter-item__label Мягкая мебель
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-bench").filter-item__chekbox.js-filter-checkbox
										label(for="filter-bench").filter-item__label Банкетка
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-sofa").filter-item__chekbox.js-filter-checkbox
										label(for="filter-sofa").filter-item__label Диван
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-armchair").filter-item__chekbox.js-filter-checkbox
										label(for="filter-armchair").filter-item__label Кресло
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-couch").filter-item__chekbox.js-filter-checkbox
										label(for="filter-couch").filter-item__label Кушетка
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-puff").filter-item__chekbox.js-filter-checkbox
										label(for="filter-puff").filter-item__label Пуф
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-tables").filter-item__chekbox.js-filter-checkbox
									label(for="filter-tables").filter-item__label Столы и консоли
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-coffee-table").filter-item__chekbox.js-filter-checkbox
										label(for="filter-coffee-table").filter-item__label Журнальный столик
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-column").filter-item__chekbox.js-filter-checkbox
										label(for="filter-column").filter-item__label Колонна
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-console").filter-item__chekbox.js-filter-checkbox
										label(for="filter-console").filter-item__label Консоль
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-dinner-table").filter-item__chekbox.js-filter-checkbox
										label(for="filter-dinner-table").filter-item__label Обеденный стол
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-desk").filter-item__chekbox.js-filter-checkbox
										label(for="filter-desk").filter-item__label Письменный стол
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-bar-stand").filter-item__chekbox.js-filter-checkbox
										label(for="filter-bar-stand").filter-item__label Барная стойка
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-chairs").filter-item__chekbox.js-filter-checkbox
									label(for="filter-chairs").filter-item__label Стулья
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-chair").filter-item__chekbox.js-filter-checkbox
										label(for="filter-chair").filter-item__label Стул
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-stool").filter-item__chekbox.js-filter-checkbox
										label(for="filter-stool").filter-item__label Табурет
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-bar-chair").filter-item__chekbox.js-filter-checkbox
										label(for="filter-bar-chair").filter-item__label Барный стул
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-store-furn").filter-item__chekbox.js-filter-checkbox
									label(for="filter-store-furn").filter-item__label Мебель для хранения
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-cupboard").filter-item__chekbox.js-filter-checkbox
										label(for="filter-cupboard").filter-item__label Барный шкаф, буфет
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-showcase").filter-item__chekbox.js-filter-checkbox
										label(for="filter-showcase").filter-item__label Витрина
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-dresser").filter-item__chekbox.js-filter-checkbox
										label(for="filter-dresser").filter-item__label Комод
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-rack").filter-item__chekbox.js-filter-checkbox
										label(for="filter-rack").filter-item__label Стеллаж
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-chest").filter-item__chekbox.js-filter-checkbox
										label(for="filter-chest").filter-item__label Сундук
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-bedside").filter-item__chekbox.js-filter-checkbox
										label(for="filter-bedside").filter-item__label Тумба
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-wardrobe").filter-item__chekbox.js-filter-checkbox
										label(for="filter-wardrobe").filter-item__label Шкаф
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-cover").filter-item__chekbox.js-filter-checkbox
								label(for="filter-cover").filter-item__label Ширма
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-nursery").filter-item__chekbox.js-filter-checkbox
								label(for="filter-nursery").filter-item__label Детская
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-outdoor-furn").filter-item__chekbox.js-filter-checkbox
								label(for="filter-outdoor-furn").filter-item__label Уличная

				.filter-panel__field
					.filter__title.js-filter-spoil Декор
						.filter-field__reset.js-filter-reset
							span
					.filter-inner
						ul.filter__list
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-new-year").filter-item__chekbox.js-filter-checkbox
								label(for="filter-new-year").filter-item__label Новый год
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-vase").filter-item__chekbox.js-filter-checkbox
								label(for="filter-vase").filter-item__label Ваза
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-mirror").filter-item__chekbox.js-filter-checkbox
								label(for="filter-mirror").filter-item__label Зеркало
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-carpet").filter-item__chekbox.js-filter-checkbox
								label(for="filter-carpet").filter-item__label Ковер
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-floor-decor").filter-item__chekbox.js-filter-checkbox
									label(for="filter-floor-decor").filter-item__label Напольный декор
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-dec-column").filter-item__chekbox.js-filter-checkbox
										label(for="filter-dec-column").filter-item__label Колонна
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-lad-tel-fount").filter-item__chekbox.js-filter-checkbox
										label(for="filter-lad-tel-fount").filter-item__label Лестница, телескоп, фонтан
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-easel").filter-item__chekbox.js-filter-checkbox
										label(for="filter-easel").filter-item__label Мольберт
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-for-frplc").filter-item__chekbox.js-filter-checkbox
										label(for="filter-for-frplc").filter-item__label Для камина
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-wall-decor").filter-item__chekbox.js-filter-checkbox
									label(for="filter-wall-decor").filter-item__label Настенный декор
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-dec-pict").filter-item__chekbox.js-filter-checkbox
										label(for="filter-dec-pict").filter-item__label Картина, постер
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-dec-panno").filter-item__chekbox.js-filter-checkbox
										label(for="filter-dec-panno").filter-item__label Декоративное панно
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-horns").filter-item__chekbox.js-filter-checkbox
										label(for="filter-horns").filter-item__label Рога
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-dec-gifts").filter-item__chekbox.js-filter-checkbox
								label(for="filter-dec-gifts").filter-item__label Подарки
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-floor-crockery").filter-item__chekbox.js-filter-checkbox
									label(for="filter-floor-crockery").filter-item__label Посуда, сервировка
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-platter").filter-item__chekbox.js-filter-checkbox
										label(for="filter-platter").filter-item__label Блюдо, ваза
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-glass").filter-item__chekbox.js-filter-checkbox
										label(for="filter-glass").filter-item__label Бокал, стакан
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-salver").filter-item__chekbox.js-filter-checkbox
										label(for="filter-salver").filter-item__label Поднос
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-photo-frame").filter-item__chekbox.js-filter-checkbox
								label(for="filter-photo-frame").filter-item__label Рамка для фото
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-floor-candlesticks").filter-item__chekbox.js-filter-checkbox
									label(for="filter-floor-candlesticks").filter-item__label Подсвечники
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-chandelier").filter-item__chekbox.js-filter-checkbox
										label(for="filter-chandelier").filter-item__label Канделябр
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-candlestick").filter-item__chekbox.js-filter-checkbox
										label(for="filter-candlestick").filter-item__label Подсвечник
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-candle").filter-item__chekbox.js-filter-checkbox
										label(for="filter-candle").filter-item__label Свеча
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-figures").filter-item__chekbox.js-filter-checkbox
								label(for="filter-figures").filter-item__label Статуэтки и фигурки
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-textile").filter-item__chekbox.js-filter-checkbox
								label(for="filter-textile").filter-item__label Текстиль
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-strg-order").filter-item__chekbox.js-filter-checkbox
									label(for="filter-strg-order").filter-item__label Хранение и порядок
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-hanger-stand").filter-item__chekbox.js-filter-checkbox
										label(for="filter-hanger-stand").filter-item__label Вешалка, подставка
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-ubrella-stand").filter-item__chekbox.js-filter-checkbox
										label(for="filter-ubrella-stand").filter-item__label Подставка для зонтов
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-goat-bucket").filter-item__chekbox.js-filter-checkbox
										label(for="filter-goat-bucket").filter-item__label Корзина, ведро
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-flowers").filter-item__chekbox.js-filter-checkbox
									label(for="filter-flowers").filter-item__label Цветы
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-art-flowers").filter-item__chekbox.js-filter-checkbox
										label(for="filter-art-flowers").filter-item__label Искусственные цветы
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-pots-decor").filter-item__chekbox.js-filter-checkbox
										label(for="filter-pots-decor").filter-item__label Кашпо и декор
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-clock").filter-item__chekbox.js-filter-checkbox
								label(for="filter-clock").filter-item__label Часы
							li.filter__item.filter__item_parent
								.parent-self
									input(type="checkbox" id="filter-wine-cigar").filter-item__chekbox.js-filter-checkbox
									label(for="filter-wine-cigar").filter-item__label Для вина и сигар
									span.filter-item__spoil.js-filter-list-spoil
								ul.filter__list_child
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-ice-bucket").filter-item__chekbox.js-filter-checkbox
										label(for="filter-ice-bucket").filter-item__label Ведро для льда
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-ashtray").filter-item__chekbox.js-filter-checkbox
										label(for="filter-ashtray").filter-item__label Пепельница
									li.filter__item.filter__item_child
										input(type="checkbox" id="filter-bottle-stand").filter-item__chekbox.js-filter-checkbox
										label(for="filter-bottle-stand").filter-item__label Подставка для бутылок
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-books-papers").filter-item__chekbox.js-filter-checkbox
								label(for="filter-books-papers").filter-item__label Для книг и бумаг
							li.filter__item.filter__item_child
								input(type="checkbox" id="filter-dec-diff").filter-item__chekbox.js-filter-checkbox
								label(for="filter-dec-diff").filter-item__label Разное

				.filter-panel__field.filter-price
					.filter__title.js-filter-spoil Цена
						span.filter-title__measure , ₽
					.filter-inner
						.filter-range
							.filter-range__left
								.filter-range__title от
								input(type="text" name="min" value="").filter-range__input
							.filter-range__dash
							.filter-range__right
								.filter-range__title до
								input(type="text" name="max" value="70000").filter-range__input
								span.filter-range__measure ₽
						.checkbox-wrap
							input(type="checkbox" id="discount").filter__checkbox
							label(for="discount").filter__label только со скидкой
						input(type="submit" value="Применить").filter-range__btn

				.filter-panel__field.filter-with-btn
					.filter__title.js-filter-spoil 
						span.filter__title-text Цвет
						span.filter__title-tags 
						.filter-field__reset.js-filter-reset
							span
					.filter-inner
						ul.filter__list
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="white").filter__checkbox.js-filter-checkbox
									label(for="white").filter__label Белый
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="yellow").filter__checkbox.js-filter-checkbox
									label(for="yellow").filter__label Желтый
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="golden").filter__checkbox.js-filter-checkbox
									label(for="golden").filter__label Золотой
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="brown").filter__checkbox.js-filter-checkbox
									label(for="brown").filter__label Коричневый
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="red").filter__checkbox.js-filter-checkbox
									label(for="red").filter__label Красный
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="multicolor").filter__checkbox.js-filter-checkbox
									label(for="multicolor").filter__label Мультиколор
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="orange").filter__checkbox.js-filter-checkbox
									label(for="orange").filter__label Оранжевый
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="transparent").filter__checkbox.js-filter-checkbox
									label(for="transparent").filter__label Прозрачный
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="pink").filter__checkbox.js-filter-checkbox
									label(for="pink").filter__label Розовый
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="silver").filter__checkbox.js-filter-checkbox
									label(for="silver").filter__label Серебряный
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="gray").filter__checkbox.js-filter-checkbox
									label(for="gray").filter__label Серый
						input(type="submit" value="Применить").filter-range__btn

				.filter-panel__field.filter-with-btn
					.filter__title.js-filter-spoil
						span.filter__title-text Материал
						span.filter__title-tags 
						.filter-field__reset.js-filter-reset
							span
					.filter-inner
						ul.filter__list
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="acryl").filter__checkbox.js-filter-checkbox
									label(for="acryl").filter__label Акрил
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="alebastr").filter__checkbox.js-filter-checkbox
									label(for="alebastr").filter__label Алебастр
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="allum").filter__checkbox.js-filter-checkbox
									label(for="allum").filter__label Алюминий
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="beton").filter__checkbox.js-filter-checkbox
									label(for="beton").filter__label Бетон
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="gips").filter__checkbox.js-filter-checkbox
									label(for="gips").filter__label Гипс
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="glina").filter__checkbox.js-filter-checkbox
									label(for="glina").filter__label Глина
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="granit").filter__checkbox.js-filter-checkbox
									label(for="granit").filter__label Гранит
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="wood").filter__checkbox.js-filter-checkbox
									label(for="wood").filter__label Дерево
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="keramika").filter__checkbox.js-filter-checkbox
									label(for="keramika").filter__label Керамика
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="kozha").filter__checkbox.js-filter-checkbox
									label(for="kozha").filter__label Кожа
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="mdf").filter__checkbox.js-filter-checkbox
									label(for="mdf").filter__label Мдф
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="metall").filter__checkbox.js-filter-checkbox
									label(for="metall").filter__label Металл
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="mramor").filter__checkbox.js-filter-checkbox
									label(for="mramor").filter__label Мрамор
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="pvh").filter__checkbox.js-filter-checkbox
									label(for="pvh").filter__label ПВХ
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="pearl").filter__checkbox.js-filter-checkbox
									label(for="pearl").filter__label Перламутр
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="rubber").filter__checkbox.js-filter-checkbox
									label(for="rubber").filter__label Резина
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="silicon").filter__checkbox.js-filter-checkbox
									label(for="silicon").filter__label Силикон
							li.filter__item
								.checkbox-wrap
									input(type="checkbox" id="smola").filter__checkbox.js-filter-checkbox
									label(for="smola").filter__label Смола
						input(type="submit" value="Применить").filter-range__btn

				.filter-panel__field.filter-size
					.filter__title.js-filter-spoil Размер
						span.filter-title__measure , см
					.filter-inner
						.filter-size__prop
							.filter-range__title
								span.filter-range__title_mob В:
								span.filter-range__title_desk Высота
							input(type="text" name="min" value="20").filter-range__input
							.filter-range__dash
							input(type="text" name="max" value="60").filter-range__input
							span.filter-range__measure см
						.filter-size__prop
							.filter-range__title
								span.filter-range__title_mob Ш:
								span.filter-range__title_desk Ширина
							input(type="text" name="min" value="20").filter-range__input
							.filter-range__dash
							input(type="text" name="max" value="60").filter-range__input
							span.filter-range__measure см
						.filter-size__prop
							.filter-range__title
								span.filter-range__title_mob Г:
								span.filter-range__title_desk Глубина
							input(type="text" name="min" value="20").filter-range__input
							.filter-range__dash
							input(type="text" name="max" value="60").filter-range__input
							span.filter-range__measure см
						input(type="submit" value="Применить").filter-range__btn
				input(type="submit" value="Применить").filter-form__submit


	.container
		ul.products__list
			li.products__item
				.product
					.product__star.icon-svg-star-red -14%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-5.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 8 200 ₽
					.product__buttons
						.product__btn.green Купить
			li.products__item
				.product
					.product__star.icon-svg-star-red -20%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-6.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Бра Schuller 50-9327
					.product__price.product__price_old 255 300 ₽
					.product__price.product__price_new 205 700 ₽
					.product__buttons
						.product__btn.green Купить
			li.products__item
				.product
					.product__star.icon-svg-star-red -10%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-1.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 9 300 ₽
					.product__buttons
						.product__btn.green Купить
			li.products__item
				.product
					.product__star.icon-svg-star-red -14%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-3.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 8 200 ₽
					.product__buttons
						.product__btn.green Купить
			li.products__item
				.product
					.product__star.icon-svg-star-red -20%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-4.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Бра Schuller 50-9327
					.product__price.product__price_old 255 300 ₽
					.product__price.product__price_new 205 700 ₽
					.product__buttons
						.product__btn.green Купить
			li.products__item
				.product
					.product__star.icon-svg-star-red -10%
					a(href="#").product__link
						img(src="assets/img/userfiles/product-2.jpg" alt="").product__img
						.product__props
							.product__prop ВхШхГ: 50 х 40 х 40 см
							.product__prop Лампочки: 2 х 50 Вт
					.product__tile В наличии
					.product__title Настенный светильник Eichholtz 114783
					.product__price.product__price_old 10 300 ₽
					.product__price.product__price_new 9 300 ₽
					.product__buttons
						.product__btn.green Купить

	.subscribe
		.container
			p Подпишитесь на новости и закрытые распродажи DeLight
			form.subscribe__form
				.subscribe__wrap
					input(type="email" name="email" placeholder="e-mail *").subscribe__input.text-input
					input(type="text" name="name" placeholder="имя").subscribe__input.text-input
					button(type="submit").subscribe__btn.js-submit Подписаться
				.subscribe__error Неверный e-mail или имя