extends ../_template

block variables
	- var title = 'Fabrica'

block logo
	div another logotip

block content
	.breadcrumbs
		.container
			ul.breadcrumbs__list
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link
						span DeLight
				li.breadcrumbs__item
					a(href="#").breadcrumbs__link
						span Бренды
				li.breadcrumbs__item
					span Eichholtz

	.fabric
		.container
			.fabric__title Eichholtz
			.fabric-features
				.fabric-feature__item
					.fabric-feature__icon
					.fabric-feature__text Монобрендовый бутик в ТВЦ Экспострой
				.fabric-feature__item
					.fabric-feature__icon
					.fabric-feature__text
						span.underlined Официальный дилер 
						|Eichholtz
				.fabric-feature__item
					.fabric-feature__icon
					.fabric-feature__text
						span.underlined Электронные каталоги 
						|Eichholtz
		.fabric-gallery
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				.fabric-gallery__tile Мебель Eichholtz
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/slide-1.jpg);")
				.fabric-gallery__tile Светильники Eichholtz
			.fabric-gallery__item(style="background-image:url(assets/img/userfiles/1.jpg);")
				.fabric-gallery__tile Настольные лампы Eichholtz

		.container
			.fabric-gallery__desc Акция до 30 ноября: -20% на все светильники Schobbek в наличии и под заказ. Хрустальные люстры и бра Schonbek вы можете купить или посмотреть из наличия в Москве в наших салонах, так же мы осуществляем доставку по всей России. В 1870 году Адольф Шонбек, которому тогда было 24 года, оставил стекольный завод своей семьи в Богемии (современная Чехия), чтобы начать собственный бизнес. Он хотел заставить хрусталь показать себя в полной красе, и сосредоточил свои усилия на многообещающем тандеме: хрусталь и свет. Сегодня все светильники разрабатываются и производятся в Соединенных Штатах. За свою 140-летнюю историю фабрика Schonbek стала ведущим производителем элитных хрустальных светильников, высокое качество и скрупулезная ручная работа делают светильник шедевром, порой освещающим путь не одному поколению. Хрустальные люстры Schonbek можно увидеть по всему миру, начиная от Белого дома и заканчивая Букингемским дворцом. В 2007 году Schonbek стал членом компании Swarovski.
				span.fabric-gallery__btn-more.js-more-text читать дальше
	
	.sort-panel
		.container
			.sort-panel__field
				select.sort-panel__select
					option
					option(value="all") все
					option(value="in-store") в наличии
					option(value="delivery-lt") доставка < 45 дней

			.sort-panel__field
				select.sort-panel__select
					option
					option(value="all") по артикулу
					option(value="usd-price") по цене $
					option(value="rub-price") по цене руб
					option(value="popularity") по популярности	
					option(value="recomms") по рекомендациям
					option(value="date") по дате добавления

	.pagination
		a(href="#").pagination__prev <
		a(href="#").pagination__first 1
		a(href="#").pagination__dots ...
		a(href="#") 144
		a(href="#").pagination__current 145
		a(href="#") 146
		a(href="#").pagination__dots ...
		a(href="#").pagination__last 284
		a(href="#").pagination__next >

	.filter-panel
		.filter-panel__field
			select.filter-panel__select
				option(value="on-ceil") На потолок
				option(value="lustre") Люстра
				option(value="hang-lamp") Подвесной светильник
				option(value="ceil-lamp") Потолочный светильник
				option(value="on-wall") На стену
				option(value="wall-lamp") Настенный светильник
				option(value="pict-light") Подсветка для картин
				option(value="on-desk") На стол
				option(value="table-lamp") Настольная лампа
				option(value="desk-lamp") Лампа для рабочего стола
				option(value="on-floor") На пол
				option(value="floor-lamp") Торшер
				option(value="tech-light") Технический свет
				option(value="illum") Подсветка
				option(value="build-lamp") Встраиваемый свет
				option(value="spot") Спот
				option(value="outside") На улицу
				option(value="wall-torch") Настенный фонарь
				option(value="hang-torch") Подвесной фонарь
				option(value="street-light") Уличный светильник
				option(value="details") Детали
				option(value="lamp-shade") Абажур
				option(value="components") Комплектующие
				option(value="plafon") Плафон
				option(value="retro-wire") Ретро проводка
				option(value="constructor") Конструктор